<!doctype html>
<head>
  <meta charset="utf-8">

  <title>My Parse App</title>
  <meta name="description" content="My Parse App">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/styles.css">
  <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->
    <script src="http://code.jquery.com/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>


    <!-- socket.io -->
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>

    <!-- bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>

    <!-- [OUR FILES]-->
    <script src="js/main.js"></script>

</head>

<body ng-app="Improveise">

    <div ng-controller="MainCtrl" style="text-align: left">
        <div class="row">
            <!--------------------------------------------------------------------------------- -->
            <div class="col-md-4">
                <h1>Game Screen</h1>
                <div>
                    Accepted Dialogue:
                    <div id="acceptedMsgs">
                        <div ng-repeat="msg in acceptedMsgs" style="margin-top: 10px;">
                            Sailor1: {{ msg }}
                        </div>
                    </div>
                </div>
            </div>

            <!--------------------------------------------------------------------------------- -->
            <div class="col-md-8">
                <h1>Acting Game Screen</h1>
                <div class="col-md-4" style="">
                    Sailors <br/>
                    Setting(scenario): A pirate ship in the Caribbean, 1715 <br/>
                    Context: Recently pirate ships have been sunk by the Kraken <br/>
                    Character: A male sailor on the ship <br/>
                    Do:  <br/>
                    Don't: <br/>
                    Conversational topics: <br/>
                </div>
                <div class="col-md-4">
                    <div>
                        Chatting log: {{ messages }}
                        <div id="messages" style="height: 300px;">
                            <div ng-repeat="msg in messages" style="margin-top: 10px;">
                                <button>downvote</button>
                                <button>upvote</button>
                                {{ msg }}
                            </div>
                        </div>
                    </div>
                    <div>
                        Sailor:name <input id="user_msg" type="text" placeholder="input text"/>
                        <button onclick="sendMsg()">submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h1>TODO</h1>
                <div>
                    <li>[ Lobby ]</li>
                    <li>Quest screen</li>
                    <li>Player profile - level, top rated line</li>
                    <li>Player levels (exp)</li>
                    <li>Gaining exp: voting / getting voted / completing quests</li>
                    <li>Spectating others' games</li>
                    <li>Note: perhaps no need to distinguish between your quests vs spectator requirements</li>
                    <li>[ Player ]</li>
                    <li>Rate with majority</li>
                </div>
            </div>
            <div class="col-md-8">
                <h1>Main Lobby</h1>
                Quests:
                
            </div>
        </div>
    </div>
</body>

</html>
